header {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    border: solid black;
    border-width: 2px;
    border-radius: 0 0 22px 22px;
}

footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 0 0;
}

form {
    display: inline-block;
    vertical-align: top;
}

button {
    background-color: white;
}

a {
    text-decoration: none;
}

.fast-block {
    position: absolute;
    right: 17px;
    width: 500px;
    height: 828px;
    border: solid black;
    border-width: 2px;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    width: 100px;
    height: 25px;
    color: black;
    text-align: center;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 22px 22px;
    transition: 0.5s;
}

.logo:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.search {
    float: right;
    margin-top: 10px;
    margin-right: 105px;
    width: 300px;
    height: 25px;
    text-align: center;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 22px 22px;
}

.menu {
    position: absolute;
    left: 10px;
    top: 430px;
    width: 50px;
    height: 217px;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 22px 22px;
    transition: 0.5s;
}

.menu-block {
    margin-top: 8px;
    margin-left: 2.5px;
    width: 40px;
    height: 40px;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 22px 22px;
    transition: 0.5s;
}

.icon img {
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    width: 30px;
}

.menu-text {
    text-align: center;
    margin-top: 10px;
    color: black;
    visibility: hidden;
    transition-delay: 0.1s;
}

.menu:hover {
    width: 200px;
    transition: 0.5s;
}

.menu:hover .menu-block {
    width: 190px;
    transition: 0.5s;
}

.menu-block:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.menu:hover .menu-text {
    visibility: visible;
}

.logout {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    width: 100px;
    height: 25px;
    color: black;
    text-align: center;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 22px 22px;
    transition: 0.5s;
}

.logout:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.wrapper {
    width: 100%;
    margin-top: 48px;
}

.avatar-block {
    position: absolute;
    top: 240px;
    left: 600px;
    width: 200px;
    height: 200px;
    border: solid black;
    border-width: 2px;
    border-radius: 50%;
    transition: 0.5s;
}

.avatar-block:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.avatar img {
    position: absolute;
    top: 240px;
    left: 600px;
    width: 200px;
    height: 200px;
    border: solid black;
    border-width: 2px;
    border-radius: 50%;
    transition: 0.5s;
}

.avatar img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.info-block {
    position: absolute;
    top: 470px;
    left: 600px;
    width: 200px;
    height: 40px;
    text-align: center;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 22px 22px;
    transition: 0.5s;
}

.nickname {
    margin-top: 4px;
    font-size: 25px;
}

.info {
    margin-top: 5px;
    font-size: 15px;
    line-height: 2;
    visibility: hidden;
    transition: 0.1s;
}

.info-block:hover {
    height: 200px;
    transition: 0.5s;
}

.info-block:hover .info {
    visibility: visible;
    transition: 0.5s;
    transition-delay: 0.1s;
}



.add-user {
    position: absolute;
    top: 470px;
    left: 813px;
    width: 40px;
    height: 40px;
    border: solid black;
    border-width: 2px;
    border-radius: 50%;
    transition: 0.5s;
}

.add-user:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.add-user-icon img {
    width: 100%;
    margin-left: 0;
    margin-top: 5px;
}

.news {
    position: absolute;
    bottom: 48px;
    left: 300px;;
    width: 800px;
    height: 50px;
    background-color: white;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 0px 0px;
    transition: 0.7s;
}

.news:hover {
    height: 828px;
    transition: 0.7s;
}

.friend-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 828px;
    margin:-416px 0 0 -550px;
    border: solid black;
    border-width: 2px;
}

.friend-choice-block {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 22px 22px;
}

.inner-friend-choice-block {
    display: inline-block;
    margin-left: 0px;
    width: 49.55%;
    height: 100%;
    border-radius: 22px 22px 22px 22px;
    transition: 0.5s;
}

.inner-friend-choice-block:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.inner-friend-choice-block-text {
    text-align: center;
    color: black;
    margin-top: 10px;
}

.wrapper-for-search-friend-block {
    margin-top: 40px;
    width: 100%;
    height: 70px;
}

.friend-request-block {
    vertical-align: top;
    display: inline-block;
    margin-left: 40px;
    width: 50%;
    height: 100%;
    border: solid black;
    border-width: 2px;
    border-radius: 22px 22px 22px 22px;
    transition: 0.5s;
}

.friend-request-block:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.my-friend-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 50%;
    height: 70px;
    border: 2px solid black;
    border-radius: 22px 22px 22px 22px;
    transition: 0.5s;
}

.my-friend-block:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.accept-or-decline-request-circle {
    vertical-align: top;
    display: inline-block;
    margin-left: 25px;
    margin-top: 11px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    transition: 0.5s;
}

.accept-or-decline-request-circle:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.accept-or-dicline-icon img {
    width: 75%;
    margin-left: 1px;
    margin-top: 3px;
}

.friends-menu {
    margin-left: 15%;
    width: 68%;
    height: 4%;
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0px 22px 22px;
}

.inner-friends-menu {
    display: inline-block;
    width: 49.416%;
    height: 100%;
    margin-left: 0px;
    border-radius: 0px 0px 22px 22px;
    transition: 0.5s;
}

.inner-friends-menu:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.friends-menu-text {
    text-align: center;
    margin-top: 6px;
    color: black;
}

.avatar-in-search {
    float: left;
    height: 66px;
    width: 70px;
    border: solid black;
    border-width: 2px;
    border-radius: 50%;
}

.nickname-in-search {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    color: black;
}