* {
    margin: 0;
}

header {
    background-color: #383B40;
    flex: 0 0 auto;
    width: 100%;
    height: 7vh;
    border: 0.1vh solid darkgray;
    border-top: 0;
    border-radius: 0 0 2vh 2vh;
}

footer {
    background-color: #383B40;
    flex: 0 0 auto;
    width: 100%;
    height: 7vh;
    border: 0.1vh solid darkgray;
    border-bottom: 0;
    border-radius: 2vh 2vh 0 0;
}

form {
    display: inline-block;
    vertical-align: top;
}

html {
    height: 100%;
}

body {
    background-color: #27292d;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
}

.item-menu {
    margin: 0;
    width: 20%;
    height: 100%;
}

.item-avatar {
    display: inline-block;
    margin: 0;
    width: 50%;
    height: 100%;
}

.item-fast-block {
    margin-left: 0;
    width: 28.5%;
    height: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.fast-block {
    height: 100%;
    width: 100%;
    border: 0.1vh solid darkgrey;
    border-bottom: 0;
    border-top: 0;
    -moz-box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
    box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
}

.logo {
    font-size: 2vh;
    float: left;
    margin-top: 1.5vh;
    margin-left: 3%;
    width: 5%;
    height: 46%;
    color: white;
    text-align: center;
    border: 0.1vh solid darkgray;
    border-radius: 2vh 2vh 2vh 2vh;
    transition: 0.5s;
    -moz-box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
    box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
}

.logo:hover {
    background-color: MediumPurple;
    transition: 0.5s;
}

.search {
    font-size: 2vh;
    float: right;
    margin-top: 2vh;
    margin-right: 8%;
    width: 15%;
    height: 37%;
    text-align: center;
    color: white;
    border: 0.1vh solid darkgray;
    border-radius: 2vh 2vh 2vh 2vh;
    -moz-box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
    box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
}

.menu {
    background-color: #383B40;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100%;
    margin-left: 2%;
    width: 15%;
    height: 28%;
    border: 0.1vh solid darkgray;
    border-radius: 2vh 2vh 2vh 2vh;
    transition: 0.5s;
    -moz-box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
    box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
}

.menu-block {
    display: flex;
    margin-left: 7%;
    width: 80%;
    height: 4.5vh;
    border-radius: 2vh 2vh 2vh 2vh;
    transition: 0.5s;
}

.icon img {
    margin-left: 0.4vw;
    margin-top: 0.4vw;
    width: 1.5vw;
}

.menu-text {
    margin: auto;
    color: white;
    visibility: hidden;
    transition-delay: 0.1s;
}

.menu:hover {
    width: 60%;
    transition: 0.5s;
}

.menu:hover .menu-block {
    width: 84%;
    transition: 0.5s;
}

.menu-block:hover {
    background-color: MediumPurple;
    transition: 0.5s;
}

.menu:hover .menu-text {
    visibility: visible;
}

.logout {
    font-size: 2vh;
    float: right;
    margin-top: 1%;
    margin-right: 4%;
    width: 5%;
    height: 49%;
    color: white;
    text-align: center;
    border: 0.1vh solid darkgray;
    border-radius: 2vh 2vh 2vh 2vh;
    transition: 0.5s;
    -moz-box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
    box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
}

.logout:hover {
    background-color: MediumPurple;
    transition: 0.5s;
}

.avatar-block {
    background-color: #383b40;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    width: 21%;
    height: 21%;
    border: 0.1vh solid darkgray;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
}

.avatar-block:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.info-block {
    color: white;
    background-color: #383B40;
    display: inline-block;
    margin-left: 39.5%;
    margin-right: auto;
    margin-top: 2%;
    width: 21%;
    height: 4.5%;
    text-align: center;
    border: 0.1vh solid darkgray;
    border-radius: 2vh 2vh 2vh 2vh;
    transition: 0.5s;
    -moz-box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
    box-shadow: 8px 10px 9px 4px rgba(0, 0, 0, 0.27);
}

.nickname {
    margin-top: 2%;
    font-size: 2.5vh;
}

.info {
    margin-top: 1%;
    font-size: 1.5vh;
    line-height: 2;
    visibility: hidden;
    transition: 0.1s;
}

.info-block:hover {
    height: 20%;
    transition: 0.5s;
}

.info-block:hover .info {
    visibility: visible;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.command-circle {
    margin-top: 2vh;
    margin-left: 0vh;
    display: inline-block;
    width: 4vh;
    height: 4vh;
    border: 0.1vh solid lightgray;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.command-circle:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.add-user-icon img {
    width: 66%;
    margin-left: 3%;
    margin-top: 10%;
}

.news {
    position: absolute;
    width: 40%;
    height: 5.6%;
    margin-top: 43.3%;
    border: 0.1vh solid black;
    border-bottom: 0;
    border-radius: 2vh 2vh 0 0;
    transition: 0.7s;
}

.news:hover {
    height: 100%;
    transition: 0.7s;
}

.friend-box {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
    border: 0.1vh solid lightgray;
    border-top: 0;
    border-bottom: 0;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.friend-choice-block {
    width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 4.5%;
    border-radius: 0 0 2vh 2vh;
    border: 0.1vh solid lightgray;
    border-top: 0;
    background-color: #383B40;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.inner-friend-choice-block {
    display: inline-block;
    margin-left: 0;
    width: 49.55%;
    height: 100%;
    border-radius: 0 0 2vh 2vh;
    transition: 0.5s;
}

.inner-friend-choice-block:hover {
    background-color: MediumPurple;
    transition: 0.5s;
}

.inner-friend-choice-block-text {
    font-size: 1.5vh;
    text-align: center;
    color: white;
    margin-top: 4%;
}

.wrapper-for-search-friend-block {
    margin-top: 10%;
    height: 9%;
    width: 100%;
}

.friend-request-block {
    background-color: #383B40;
    vertical-align: top;
    display: inline-block;
    margin-left: 10%;
    width: 50%;
    height: 97%;
    border: 0.1vh solid darkgray;
    border-radius: 2vh 2vh 2vh 2vh;
    transition: 0.5s;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.friend-request-block:hover {
    background-color: MediumPurple;
    transition: 0.5s;
}

.my-friend-block {
    background-color: #383B40;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 50%;
    height: 70px;
    border: 0.1vh solid lightgray;
    border-radius: 2vh 2vh 2vh 2vh;
    transition: 0.5s;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.my-friend-block:hover {
    background-color: MediumPurple;
    transition: 0.5s;
}

.accept-or-decline-request-circle {
    background-color: #383B40;
    vertical-align: top;
    display: inline-block;
    margin-left: 2vh;
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    border: 0.1vh solid darkgray;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.accept-or-decline-request-circle:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.accept-or-dicline-icon img {
    width: 56%;
    margin-left: 1%;
    margin-top: 5%;
}

.friends-menu {
    background-color: #383B40;
    margin-left: 15%;
    width: 68%;
    height: 4%;
    border: 0.1vh solid lightgray;
    border-top: none;
    border-radius: 0 0 2vh 2vh;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.inner-friends-menu {
    display: inline-block;
    width: 49.416%;
    height: 100%;
    margin-left: 0;
    border-radius: 0 0 2vh 2vh;
    transition: 0.5s;
}

.inner-friends-menu:hover {
    background-color: MediumPurple;
    transition: 0.5s;
}

.friends-menu-text {
    font-size: 1.5vh;
    text-align: center;
    margin-top: 6px;
    color: white;
}

.avatar-in-search {
   float: left;
   height: 97%;
   width: 7.5vh;
   border: 0.1vh solid lightgray;
   border-radius: 50%;
   box-shadow: 3px 3px 9px 4px rgb(0 0 0 / 27%);
}

.nickname-in-search {
    margin-top: 20px;
    font-size: 3vh;
    text-align: center;
    color: white;
}

.messages-block {
    margin: auto;
    width: 80%;
    height: 100%;
    border: 0.1vh solid darkgray;
    border-bottom: 0;
    border-top: 0;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.show-block-with-open-chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    border: 0.1vh solid black;
    margin: auto;
    width: 95%;
    height: 85%;
    border-radius: 0 0 2vh 2vh;
    border-top: 0;
}

.show-block-with-messages-list {
    border: 0.1vh solid darkgray;
    margin: auto;
    width: 95%;
    height: 100%;
    border-bottom: 0;
    border-top: 0;
}

.wrapper-for-my-message {
    display: inline-flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    width: 98%;
}

.wrapper-for-companion-message {
    margin-bottom: 2%;
    margin-left: 2%;
    display: inline-flex;
    width: 100%;
}

.my-message {
    background-color:#8D6DD7;
    color: white;
    word-break: break-all;
    font-size: 140%;
    max-width: 60%;
    border-radius: 2vh 2vh 2vh 2vh;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.companion-message {
    background-color:#F16C97;
    color: white;
    word-break: break-all;
    font-size: 140%;
    max-width: 60%;
    border-radius: 2vh 2vh 2vh 2vh;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.search-dialog {
    background-color: #383B40;
    border: 0.1vh solid white;
    margin: auto;
    width: 70%;
    height: 4%;
    border-radius: 2vh 2vh 2vh 2vh;
    border-top: 0;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.wrapper-dialog-block {
    margin-top: 6%;
    width: 100%;
    height: 91%;
}

.dialog-block {
    background-color: #383B40;
    display: flex;
    flex-direction: row;
    border: 0.1vh solid darkgray;
    margin-top: 1%;
    margin-left: 7%;
    width: 60%;
    height: 10%;
    border-radius: 2vh 2vh 2vh 2vh;
    transition: 0.5s;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.dialog-block:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.dialog-avatar {
    border: 0.1vh solid darkgray;
    width: 7.5vh;
    height: 97%;
    border-radius: 50%;
    box-shadow: 8px 0px 9px 4px rgb(0 0 0 / 27%);
}

.wrapper-for-dialog-block-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.dialog-block-nickname {
    margin-left: 5%;
    color: white;
    font-size: 1.3em;
}

.dialog-block-last-message {
    color: white;
    margin-top: 3%;
    margin-left: 5%
}

.input-block {
    display: flex;
    border: 0.1vh solid darkgray;
    margin: auto;
    margin-top: 5%;
    width: 95%;
    height: 5%;
    border-radius: 2vh 2vh 2vh 2vh;
    box-shadow: 8px 10px 9px 4px rgb(0 0 0 / 27%);
}

.input-block input {
    width: 100%;
    height: 90%;
}

.input-block form {
    margin: auto;
    width: 90%;
    height: 50%;
}

input:focus {
    outline: 0;
}